<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_headers %>
  <ul>
  <% for (let shortURL in urls)  { %>
    <li><b>Full URL:</b> <%= urls[shortURL] %>
        <b>Short URL: <%= shortURL %></b>
    </li>


  <b>Full URL:</b> <%= fullURL%>
  <br>
  <br>
  <b>Short Url:</b> <%= shortURL%>
  <br>
  <form action="/urls/urls_show" method="POST" >
    <label for="addURL">Add URL</label>
    <input type="submit" value="Update">
  </form>
</body>
</html>